@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");
:root {
  --bg-secondary: #3b3b3b;
  --bg-thirdary: #262627;
  --bg-primary: #1d1d1d;
  --bg-extra: #111111;
  --chat-primary: #525151;
  --chat-secondary: #3a3a3a;
  --chat-error: #782222;
  --font-primary: #fff;
  --font-secondary: #bbb;
}

html,
body,
:root {
  color-scheme: dark;
  overscroll-behavior-y: contain;
}

html {
  color: var(--font-primary);
  background-color: var(--bg-extra);
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

body,
textarea,
input,
option {
  font-family: "Kulim Park", sans-serif;
}

#nav {
  width: 200px;
  padding: 5px;
  box-sizing: border-box;
  background-color: var(--bg-extra);
}

#main {
  width: calc(100vw - 200px);
  height: 100%;
  overflow: hidden;
  background-color: var(--bg-primary);
}

[data-state=newChat] > #main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 0;
  box-sizing: border-box;
}

[data-state=newChat] > #main > div > div > input,
[data-state=newChat] > #main > div > div > select {
  width: 100%;
  box-sizing: border-box;
  font-size: 120%;
  border: none;
  padding: 5px;
  background-color: transparent;
}

[data-state=newChat] > #main > div > div {
  display: flex;
  flex-direction: column;
  width: clamp(300px, 50%, 400px);
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bg-thirdary);
}

[data-state=newChat] > #main > div > div > :focus {
  outline: none;
}

[data-state=newChat] > #main > div > div:focus-within {
  outline: 1px solid white;
}

[data-state=newChat] > #main > textarea {
  background-color: var(--bg-thirdary);
  resize: none;
  width: 80%;
  min-height: 100px;
  max-height: 500px;
  box-sizing: border-box;
  font-size: 120%;
  border: 0;
  padding: 20px;
  border-radius: 10px;
}

[data-state=newChat] > #main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(5px, 5%, 30px);
  padding: 20px;
  padding-top: 0;
  flex-grow: 1;
  width: 100%;
}

option {
  background-color: var(--bg-thirdary);
  padding-left: 5px;
}

[data-state=chat] > #main > .messages {
  padding-top: 20px;
  padding-bottom: 130px;
  padding-left: 7%;
  padding-right: 7%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable;
  box-sizing: border-box;
}

[data-state=chat] > #main {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

[data-state=chat] > #main > .messages > .message {
  width: 100%;
  display: flex;
  flex-direction: row;
}

[data-state=chat] .message > .content {
  overflow-wrap: break-word;
  background-color: var(--chat-secondary);
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  max-width: calc(100% - 21px);
}

[data-state=chat] .message > i {
  padding-right: 5px;
  padding-top: 5px;
}

[data-state=chat] .message.robot > .content {
  background-color: var(--chat-primary);
}

[data-state=chat] .message > .content.error {
  background-color: var(--chat-error);
}

[data-state=chat] .textarea-container > textarea {
  background-color: var(--bg-secondary);
  resize: none;
  width: calc(80% - 32px);
  box-sizing: border-box;
  font-size: 120%;
  border: 0;
  padding: 20px;
  border-radius: 10px;
}

[data-state=chat] > #main > .textarea-container {
  position: absolute;
  min-height: 100px;
  max-height: 500px;
  width: 100%;
  padding-bottom: 20px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, var(--bg-extra) 0%, transparent 100%);
}

[data-state=chat] > #main > .chat-meta {
  width: 100%;
  height: 45px;
  padding: 5px;
  padding-left: 25px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-thirdary);
  border-bottom: var(--bg-extra) 3px solid;
}

[data-state=chat] > #main > .chat-meta > .bi-three-dots-vertical {
  border-radius: 3px;
  transition: background-color 150ms;
  background-color: transparent;
  border: none;
  cursor: pointer;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
[data-state=chat] > #main > .chat-meta > .bi-three-dots-vertical:hover, [data-state=chat] > #main > .chat-meta > .bi-three-dots-vertical:focus {
  background-color: var(--bg-secondary);
}

[data-state=chat] > #main > .chat-meta > .model {
  margin-left: auto;
  margin-right: 10px;
  color: var(--font-secondary);
}

#chatsContainer {
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 10px;
  display: flex;
  max-height: calc(100% - 40px);
  scrollbar-gutter: stable;
  flex-direction: column;
  gap: 3px;
}

#newChat {
  position: relative;
  height: 30px;
  width: 100%;
  text-align: left;
  font-size: 110%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  transition: background-color 150ms;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#newChat:hover, #newChat:focus {
  background-color: var(--bg-thirdary);
}

#newChat > .bi-plus-lg {
  position: absolute;
  right: 5px;
}

#chatsContainer .bi-chat-text {
  margin-right: 5px;
}

#chatsContainer > div > div {
  padding-left: 5px;
  padding: 4px;
  border-radius: 3px;
  transition: background-color 150ms;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#chatsContainer > div > div:hover, #chatsContainer > div > div:focus {
  background-color: var(--bg-thirdary);
}

#chatsContainer > div {
  display: none;
}

#chatsContainer > div > span {
  padding-left: 25px;
  font-size: 75%;
  color: var(--font-secondary);
}

#chatsContainer > div:has(div) {
  display: block;
}

#chatsContainer .current {
  background-color: var(--bg-primary);
}

.bi-list {
  display: none;
}

code {
  display: block;
  border-radius: 5px;
  position: relative;
  white-space: pre-wrap;
  min-height: 20px;
  padding-top: 5px !important;
  margin-top: 5px;
  margin-bottom: 5px;
}

code .copy {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

code br {
  display: unset !important;
}

:is(p, hr, ul, ol, br, h1, h2, h3, h4, h5, h6, blockquote) + br,
ul > br,
ol > br,
blockquote br:first-child {
  display: none;
}

p:empty {
  display: none;
}

#chatSettingsOverlay {
  position: absolute;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3333333333);
  transition: background-color 150ms;
}

#chatSettingsOverlay:empty {
  visibility: hidden;
  background-color: transparent;
}

.settings {
  max-width: 300px;
  width: 100%;
  height: 100%;
  max-height: 600px;
  background-color: var(--bg-secondary);
  border-radius: 5px;
  padding: 7px;
  position: absolute;
  right: 20px;
  top: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.settings input,
.settings select {
  border: none;
  text-decoration: underline;
}

.settings input:focus,
.settings select:focus {
  outline: none;
}

.settings > div {
  border: 1px solid transparent;
}

.settings > div:focus-within,
.settings > div:focus {
  border: 1px solid #fff;
}

.settings input {
  font-size: 100%;
}

.settings > :last-child {
  margin-top: auto;
}

.settings > button.delete {
  border-radius: 3px;
  transition: background-color 150ms;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: #dc3545 2px solid;
  width: fit-content;
  color: #dc3545;
  padding: 5px;
  font-size: 110%;
  transition: background-color 150ms, color 150ms;
}
.settings > button.delete:hover, .settings > button.delete:focus {
  background-color: #dc3545;
}

.settings > button.delete:hover,
.settings > button.delete:focus {
  color: #fff;
}

.settings > button.close {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 3px;
  transition: background-color 150ms;
  background-color: transparent;
  border: none;
  cursor: pointer;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.settings > button.close:hover, .settings > button.close:focus {
  background-color: var(--bg-thirdary);
}

.settings > button.delete > i {
  padding-right: 5px;
}

@media screen and (max-width: 700px) {
  #nav {
    position: absolute;
    z-index: 999999;
    height: 100%;
    translate: -100% 0;
    transition: translate 300ms;
  }
  #main {
    width: 100%;
  }
  #newChat {
    width: calc(100% - 40px);
  }
  [nav] .bi-list {
    translate: 0 0;
  }
  [nav] .navWrapper {
    background-color: rgba(0, 0, 0, 0.3333333333);
    width: 100%;
  }
  .navWrapper {
    transition: background-color 150ms;
    position: absolute;
    z-index: 999999;
    height: 100%;
  }
  .bi-list {
    display: inline-block;
    position: relative;
    translate: 45px 0;
    z-index: 999;
    transition: translate 300ms;
    padding: 5px;
    border-radius: 3px;
    transition: background-color 150ms;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .bi-list:hover, .bi-list:focus {
    background-color: var(--bg-secondary);
  }
  :not([nav]) .chat-meta {
    padding-left: 40px !important;
  }
  [nav] #nav {
    translate: 0 0;
  }
  [data-state=chat] > #main > .textarea-container > textarea {
    width: 90%;
  }
  [data-state=newChat] > #main > textarea {
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  .messages {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
@media screen and (max-width: 400px) {
  #nav {
    width: 100%;
  }
  .navWrapper {
    width: 100vw;
  }
  .settings {
    max-width: 100vw;
    max-width: 100dvw;
    max-height: 100vh;
    max-height: 100dvh;
    top: 0;
    right: 0;
    box-sizing: border-box;
    border-radius: 0;
    padding-top: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
