@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");

html {
  color-scheme: light dark;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  font-family: "Kulim Park", sans-serif;
}

.chatArea {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: auto;
  flex-grow: 1;
  padding-right: 0;
}

#messages {
  max-height: 100%;
  overflow-y: scroll;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
}

#navbar {
  width: 200px;
  min-width: 200px;
  border-right: 1px solid white;
}

#chats li {
  list-style-type: none;
  cursor: pointer;
}

#chats {
  padding-left: 5px;
}
#chats i {
  padding-right: 5px;
}

#messages > li {
  list-style-type: none;
  display: flex;
}
#message {
  min-height: 20px;
}

#messages li.robot .message {
  background-color: rgb(82, 81, 81);
}

#messages li .message {
  background-color: rgb(58, 58, 58);
  padding: 10px;
  border-radius: 10px;
}

#messages li i {
  padding-right: 5px;
  padding-top: 5px;
}

.modelSelect {
  margin-top: auto;
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 20px;
}

.modelSelect input {
  margin: 0;
  aspect-ratio: 1;
  height: 0.8rem;
  position: relative;
  translate: 5px 5px;
}

code.hljs {
  display: block;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  white-space: pre-wrap;
  min-height: 20px;
  padding-right: 30px !important;
}

code .copy {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.newSelector {
  display: flex;
  width: 100%;
}

.newSelector input {
  min-width: 0;
}

.newSelector button {
  aspect-ratio: 1;
}

#messages p:empty {
  display: none;
}

#messages ul {
  list-style-type: disc;
}

code + code {
  margin-top: 20px;
}

code br {
  display: unset !important;
}

:is(p, hr, ul, br, h1, h2, h3, h4, h5, h6, blockquote) + br,
ul > br,
blockquote br:first-child {
  display: none;
}

.message.error {
  background-color: rgb(120, 34, 34) !important;
}
