@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");

:root {
  --bg-secondary: #3b3b3b;
  --bg-thirdary: #262627;
  --bg-primary: #1d1d1d;
  --bg-extra: #111111;

  --chat-primary: #525151;
  --chat-secondary: #3a3a3a;
  --chat-error: #782222;

  --font-primary: #fff;
  --font-secondary: #bbb;
}

html {
  color-scheme: light dark;
  color: var(--font-primary);
  background-color: var(--bg-primary);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

body,
textarea,
input,
option {
  font-family: "Kulim Park", sans-serif;
}

#nav {
  width: 200px;
  padding: 5px;
  box-sizing: border-box;
  background-color: var(--bg-extra);
}

#main {
  width: calc(100vw - 200px);
}

body[data-state="newChat"] > #main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

body[data-state="newChat"] > #main > div > div > input,
body[data-state="newChat"] > #main > div > div > select {
  width: 100%;
  box-sizing: border-box;
  font-size: 120%;
  border: none;
  padding: 5px;
  background-color: transparent;
}
body[data-state="newChat"] > #main > div > div {
  display: flex;
  flex-direction: column;
  width: clamp(100px, 50%, 400px);
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bg-thirdary);
}

body[data-state="newChat"] > #main > div > div > :focus {
  outline: none;
}

body[data-state="newChat"] > #main > div > div:focus-within {
  outline: 1px solid white;
}

body[data-state="newChat"] > #main > textarea {
  background-color: var(--bg-thirdary);
  resize: none;
  width: 80%;
  min-height: 100px;
  max-height: 500px;
  box-sizing: border-box;
  font-size: 120%;
  border: 0;
  padding: 20px;
  border-radius: 10px;
}

body[data-state="newChat"] > #main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  flex-grow: 1;
  width: 100%;
}

option {
  background-color: var(--bg-thirdary);
  padding-left: 5px;
}
body[data-state="chat"] > #main > .messages {
  padding-bottom: 130px;
  padding-right: 5px;
  padding-left: 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable;
  box-sizing: border-box;
}

body[data-state="chat"] > #main {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

body[data-state="chat"] > #main > .messages > .message {
  width: 100%;
  display: flex;
  flex-direction: row;
}

body[data-state="chat"] > #main > .messages > .message > .content {
  overflow-wrap: break-word;
  background-color: var(--chat-secondary);
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  max-width: calc(100% - 21px);
}

body[data-state="chat"] > #main > .messages > .message > i {
  padding-right: 5px;
  padding-top: 5px;
}

body[data-state="chat"] > #main > .messages > .message.robot > .content {
  background-color: var(--chat-primary);
}
body[data-state="chat"] > #main > .messages > .message > .content.error {
  background-color: var(--chat-error);
}

body[data-state="chat"] > #main > textarea {
  background-color: var(--bg-secondary);
  position: absolute;
  resize: none;
  width: calc(80% - 32px);
  min-height: 100px;
  max-height: 500px;
  box-sizing: border-box;
  font-size: 120%;
  border: 0;
  padding: 20px;
  border-radius: 10px;
  bottom: 20px;
}

body[data-state="chat"] > #main > .chat-meta {
  width: calc(100% - 50px);
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

#chatsContainer {
  overflow: hidden;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#newChat {
  position: relative;
  height: 30px;
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: left;
  font-size: 110%;
  padding: 5px;
  box-sizing: border-box;
  transition: background-color 150ms;
  border-radius: 5px;
}

#newChat:hover,
#newChat:focus,
#chatsContainer > div > div:hover,
#chatsContainer > div > div:focus {
  background-color: var(--bg-thirdary);
}

#newChat > .bi-plus-lg {
  position: absolute;
  right: 5px;
}
#chatsContainer .bi-chat-text {
  margin-right: 5px;
}

#chatsContainer > div > div {
  padding-left: 5px;
  transition: background-color 150ms;
  border-radius: 5px;
  padding: 4px;
}

#chatsContainer > div {
  display: none;
}

#chatsContainer > div > span {
  font-size: 75%;
  color: var(--font-secondary);
}

#chatsContainer > div:has(div) {
  display: block;
}

#chatsContainer .current {
  background-color: var(--bg-primary);
}
